{
  "kiicloud://users": [
    {
      "when": "USER_UPDATED",
      "what": "EXECUTE_SERVER_CODE",
      "endpoint": "add_secure_profile"
    }
  ],
  "kiicloud://groups": [
    {
      "when": "GROUP_MEMBERS_ADDED",
      "what": "EXECUTE_SERVER_CODE",
      "endpoint": "grant_authority"
    },
    {
      "when": "GROUP_MEMBERS_REMOVED",
      "what": "EXECUTE_SERVER_CODE",
      "endpoint": "revoke_authority"
    }
  ]
}